footer{
    text-align: center;
    margin-top: 4rem;
    font: 400 2.4rem Nunito Sans;
}



#logo-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#logo-text {
    font: 700 6.2rem Roboto Mono;
    text-align: center;
}

/* .intro{
    
} */

.intro-paragraph {
    font: 400 1rem Nunito Sans;
    text-align: center;
}

#content-row {
    margin-top: 7rem;
    margin-bottom: 7rem;
}